.search {
  width: 98%;
  margin-inline: auto;
  border: 1px solid rgb(192, 191, 191);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  height: 50px;
}

.searchInput {
  min-width: 70%;
  height: 30px;
  border: 0;
}

.searchInput:focus {
  outline: none;
}

.searchFilter:focus {
  border: 0;
}

.searchFilter {
  height: 30px;
  border: 0;
}

.scholars {
  background: white;
  margin: 10px auto;
  width: 98%;
}

.scholarsList {
  list-style-type: none;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  min-height: 90vh;
  padding: 10px 5px;
}

.scholarsElement {
  display: flex;
  width: 98%;
  margin-inline: auto;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  border: 1px solid black;
}

.scholarDescription {
  width: 40vw;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}

.scholarBtn {
  justify-self: flex-end;
  background: #09f;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}
